
<!DOCTYPE html>

<html>
    <head>
        <title>List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="website, html">
        <meta name="author" content="Victor Persson">
        <link rel="shortcut icon" href="/public/favicon.ico">
        <link rel="stylesheet" href="/public/list/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
        <script src="/public/list/list.js" type="text/javascript"></script>
    <body>
        <main>
            <div class="todo-list">
                <h1>To-Do-List</h1>
                <% for (task of list) { %>
                <div id="task_<%= task._id %>" class="task-element">
                    <div id="note_<%= task._id %>" class="task-heading">
                        <span><%= task.prio %></span><span>. </span><span onclick="toggleOptions(this);"><%= task.note %></span>
                        <% if (task.status) { %>
                        <span class="text-green">&#10003</span>
                        <% } %>
                    </div>
                    <div class="options-hidden">
                        <button id="delete_button_<%= task._id %>" class="text-orangered" type="button" onclick="removeTask(this);">DELETE</button>
                        <button id="edit_button_<%= task._id %>" class="text-blue" type="button" onclick="toggleEditForm(this);">EDIT</button>
                        <button id="complete_button_<%= task._id %>" class="<% if (!task.status) { %>text-green<% } %>" type="button" onclick="completeTask(this);">
                            <% if (task.status) { %>RECALL<% } else { %>COMPLETE<% } %>
                        </button>
                        <button class="text-red" type="button" onclick="updatePage();">CANCEL</button>
                    </div>
                </div>
                <% } %>
                <div class="task-element">
                    <button type="button" onclick="toggleSaveForm(this)">NEW</button>
                    <form id="save_form" class="save-form-hidden">
                        <div class="apart">
                            <input id="task_prio" class="task-prio-active" type="number" min="1" max="<%= list.length + 1 %>" value="<%= list.length + 1 %>">
                            <input id="task_note" type="text">
                        </div>
                        <div>
                            <button id="save_task_button" class="text-green" type="button" onclick="saveTask();">SAVE</button>
                            <button class="text-red" type="button" onclick="updatePage();">CANCEL</button>
                        </div>                        
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
