
<!DOCTYPE html>

<html>
    <head>
        <title>List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="website, html">
        <meta name="author" content="Victor Persson">
        <link rel="shortcut icon" href="/public/favicon.ico">
        <link rel="stylesheet" href="/public/list/style.css">
        <script src="/public/list/list.js" type="text/javascript"></script>
    <body>
        <header>
            <span>SORT BY:</span>
            <button onclick="sortBy">PRIO</button>
            <button onclick="">DATE</button>
        </header>
        <main>
            <div class="todo-list">
                <% for (task of list) { %>
                <div id="<%= task._id %>" class="task-element">
                    <div id="note_<%= task._id %>">
                        <span><%= task.prio + ". " %></span><span><%= task.note %></span>
                        <% if (task.status) { %>
                        <span>&#10003</span>
                        <% } %>
                    </div>
                    <button id="delete_button_<%= task._id %>" type="button" onclick="removeTask(this);">DELETE</button>
                    <button id="edit_button_<%= task._id %>" type="button" onclick="toggleEditForm(this)">EDIT</button>
                    <button id="complete_button_<%= task._id %>" type="button" onclick="completeTask(this)"><% if (task.status) { %>RECALL<% } else { %>COMPLETE<% } %></button>
                    <form id="edit_form_<%= task._id %>" class="save-form-hidden">
                        <label>Task</label>
                        <input id="m_task_note_<%= task.id %>" value="<%= task.note %>" type="text">
                        <label>Prio</label>
                        <input id="m_task_prio_<%= task.id %>" type="range" min="1" max="<%= list.length %>" value="<%= task.prio %>">
                        <button type="button" onclick="editTask(this);">SAVE</button>
                    </form>
                </div>
                <% } %>
                <div class="task-element">
                    <button type="button" onclick="toggleSaveForm()">+NEW</button>
                    <form id="save_form" class="save-form-hidden">
                        <label>Task</label>
                        <input id="task_note" type="text">
                        <label>Prio</label>
                        <input id="task_prio" type="range" min="1" max="<%= list.length + 1 %>" value="<%= list.length + 1 %>">
                        <button id="save_task_button" type="button" onclick="saveTask();">SAVE</button>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
